### RFM ë¶„ì„ ì‹¤ìŠµ
- Recency: ì–¼ë§ˆë‚˜ ìµœê·¼ì— êµ¬ë§¤í–ˆëŠ”ê°€
- Frequency: ì–¼ë§ˆë‚˜ ìì£¼ êµ¬ë§¤í–ˆëŠ”ê°€
- Monetary: ì–¼ë§ˆë‚˜ ë§ì€ ê¸ˆì•¡ì„ ì§€ì¶œí–ˆëŠ”ê°€

### ê³ ê° ë¶„ì„

> voice_no: ì†¡ì¥ ë²ˆí˜¸. ëª…ì‚¬ ê°™ì€. ê° ì‘ì—…ì— ê³ ìœ í•˜ê²Œ í• ë‹¹ëœ ë¬¸ì 'I'ì™€ 6ìë¦¬ ì •ìˆ˜ì˜ ì¡°í•©  
customer_id: ê³ ê°ë²ˆí˜¸. ëª…ì‚¬ ê°™ì€. ê° ì‘ì—…ì— ê³ ìœ í•˜ê²Œ í• ë‹¹ëœ ë¬¸ì 'C'ì™€ 6ìë¦¬ ì •ìˆ˜ì˜ ì¡°í•©  
gender: ê³ ê° ì„±ë³„ì˜ ë¬¸ìaì—´ ë³€ìˆ˜  
age: ê³ ê° ì—°ë ¹ì˜ ì–‘ì˜ ì •ìˆ˜ ë³€ìˆ˜  
category: êµ¬ë§¤í•œ ìƒí’ˆ ì¹´í…Œê³ ë¦¬ì˜ ë¬¸ìì—´ ë³€ìˆ˜ 
quantity: ê±°ë˜ë‹¹ ê° ì œí’ˆ(í•­ëª©)ì˜ ìˆ˜ëŸ‰  
price: ë‹¨ê°€. ìˆ«ì. ë‹¨ìœ„ë‹¹ ì œí’ˆ ê°€ê²©ì€ í„°í‚¤ ë¦¬ë¼(TL)  
payment_method: ê±°ë˜ì— ì‚¬ìš©ëœ ê²°ì œ ë°©ë²•(í˜„ê¸ˆ, ì‹ ìš© ì¹´ë“œ ë˜ëŠ” ì§ë¶ˆ ì¹´ë“œ)ì˜ ë¬¸ìì—´ ë³€ìˆ˜  
invoice_date: ì†¡ì¥ ë‚ ì§œ. ê±°ë˜ê°€ ë°œìƒí•œ ë‚   
shopping_mall: ê±°ë˜ê°€ ì´ë£¨ì–´ì§„ ì‡¼í•‘ëª° ì´ë¦„ì˜ ë¬¸ìì—´ ë³€ìˆ˜

### â… . ë°ì´í„° íƒìƒ‰

In [1]:
import pandas as pd

cs_df = pd.read_csv("./datasets/customer_shopping_data.csv")
display(cs_df)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

#### âœï¸ ê¸°íš 
1. ì‡¼í•‘ëª° ë³„ ì´ìš© ë¹ˆë„ ë¶„ì„(ì¸ê¸°ìˆœ,,,)
2. ì‡¼í•‘ëª° ì¹´í…Œê³ ë¦¬.. ë¶„ì„ ë­ íŒŒëŠ” ê³³ì¸ì§€? > ê·¸ë˜ì„œ ìœ ì‚¬í•œ ê±° ë¼ë¦¬ ë¶„ì„í•  ìˆ˜ ìˆì„ë“¯
4. ì‡¼í•‘ëª© ë³„ ì£¼ ì‚¬ìš©ì ì—°ë ¹ì¸µ, ì„±ë³„ ë¶„ì„
5. ì‡¼í•‘ëª° ë³„..rfmí•´ì•¼ë ë“¯ ì „ì²´ì—ì„œ í•˜ëŠ”ã„´ ê±° ì•„ë‹ˆê³  ì‡¼í•‘ëª° ì¸ì›ë¼ë¦¬ ëª¨ì•„ì„œ ì´í•©í•˜ê³  êµ¬í•´ì•¼ë¨!!!(ìµœê·¼ ì´ìš© ë‚ ì§œëŠ” í‰ê· ìœ¼ë¡œ êµ¬í•  ìˆ˜ ìˆì§€ ì•Šì„ê¹Œ?)
6. ë§¤ì¶œ ë¶„ì„

#### ğŸ“Š ë°ì´í„° ì •ë³´ í™•ì¸

In [2]:
# cs_df ì˜ ì •ë³´ ê°€ì ¸ì˜¤ê¸°
cs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [3]:
# ì‡¼í•‘ëª° í™•ì¸
cs_df['shopping_mall'].value_counts()

shopping_mall
Mall of Istanbul     19943
Kanyon               19823
Metrocity            15011
Metropol AVM         10161
Istinye Park          9781
Zorlu Center          5075
Cevahir AVM           4991
Forum Istanbul        4947
Viaport Outlet        4914
Emaar Square Mall     4811
Name: count, dtype: int64

In [4]:
# ìƒí’ˆ ì¹´í…Œê³ ë¦¬ í™•ì¸
cs_df['category'].value_counts()

category
Clothing           34487
Cosmetics          15097
Food & Beverage    14776
Toys               10087
Shoes              10034
Souvenir            4999
Technology          4996
Books               4981
Name: count, dtype: int64

In [5]:
# ê²°ì œ ë°©ì‹ í™•ì¸
cs_df['payment_method'].value_counts()

payment_method
Cash           44447
Credit Card    34931
Debit Card     20079
Name: count, dtype: int64

#### ğŸ“Š ê²°ì¸¡ì¹˜ ê²€ì‚¬

In [6]:
# cs_dfì˜ ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ ê°€ì ¸ì˜¤ê¸°
cs_df.isna().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

#### ğŸ“Š ì¤‘ë³µí–‰ ê²€ì‚¬

In [7]:
# cs_dfì˜ ì¤‘ë³µí–‰ ê°œìˆ˜ë¥¼ ê°€ì ¸ì˜¤ê¸°
cs_df.duplicated().sum()

0

#### ğŸ’¡ ë¶„ì„
- ì‡¼í•‘ëª° ë³„ ê±°ë˜ ë°ì´í„° í”„ë ˆì„ì˜ ì „ì²´ ì •ë³´
- 10ê°œ ì»¬ëŸ¼ì´ ì¡´ì¬í•¨.
- 99457ê°œ ë°ì´í„° ì¡´ì¬í•¨.
- ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŒ.
- ì¤‘ë³µ ë°ì´í„°ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŒ.

#### â“ ê°€ì„¤
- í™˜ë¶ˆëœ ì£¼ë¬¸ ë°ì´í„°ê°€ ìˆì„ê¹Œ?

#### ğŸ“Š ìˆ«ìí˜• ë°ì´í„° ê°œìˆ˜, í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œê°’, ì‚¬ë¶„ìœ„ ë¶„í¬ë„, ìµœëŒ€ê°’ í™•ì¸

In [8]:
cs_df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,99457.0,43.427089,14.990054,18.00,30.00,43.0,56.00,69.0
quantity,99457.0,3.003429,1.413025,1.00,2.00,3.0,4.00,5.0
price,99457.0,689.256321,941.184567,5.23,45.45,203.3,1200.32,5250.0

#### ğŸ’¡ ë¶„ì„
- ê³ ê°ì˜ í‰ê·  ì—°ë ¹ì€ ì•½ 43ì‚´ìœ¼ë¡œ ë‚˜íƒ€ë‚¨.
- ìµœê³  ì—°ë ¹ì€ 69ì‚´ì´ë©°, ìµœì†Œ ì—°ë ¹ì€ 18ìœ¼ë¡œ ë‚˜íƒ€ë‚¨.
- ê³ ê° ë‹¹ í‰ê·  ì•½ 1.4ê°œì˜ ì œí’ˆì„ êµ¬ë§¤í•œ ê²ƒìœ¼ë¡œ ë‚˜íƒ€ë‚¨.
- ìƒí’ˆ ë‹¨ê°€ëŠ” í‰ê·  ì•½ 689.427ë¡œ ë‚˜íƒ€ë‚¨.
- ìƒí’ˆì˜ ìµœê³  ë‹¨ê°€ëŠ” 5250ì´ë©°, ìµœì†Œ ë‹¨ê°€ëŠ” 5.23ìœ¼ë¡œ ë‚˜íƒ€ë‚¨.

#### ğŸ“Œ ì‹œì‚¬ì 
- ìƒí’ˆ ìµœì†Œ ë‹¨ê°€ê°€ ìŒìˆ˜ë¡œ ë‚˜ì˜¤ì§€ ì•Šì•˜ê¸° ë•Œë¬¸ì— í™˜ë¶ˆëœ ë°ì´í„°ê°€ ì—†ëŠ” ê²ƒìœ¼ë¡œ íŒë‹¨í•¨.
- ë‚˜ì´, ê°œìˆ˜ëŠ” ì´ìƒì¹˜ ì œê±°ê°€ ì ì ˆí•˜ì§€ ì•Šë‹¤ê³  íŒë‹¨ë˜ë¯€ë¡œ, ë³„ë„ì˜ ì´ìƒì¹˜ ì œê±°ëŠ” ì‹¤ì‹œí•˜ì§€ ì•ŠìŒ.

#### â“ ê°€ì„¤
- ì£¼ë¬¸ë²ˆí˜¸ ì¤‘ Ië¡œ ì‹œì‘í•˜ì§€ ì•ŠëŠ” ì£¼ë¬¸ë²ˆí˜¸ê°€ ìˆì„ê¹Œ?
- ê³ ê°ë²ˆí˜¸ ì¤‘ Cë¡œ ì‹œì‘í•˜ì§€ ì•ŠëŠ” ê³ ê°ë²ˆí˜¸ê°€ ìˆì„ê¹Œ?

#### ğŸ“Š ì£¼ë¬¸ë²ˆí˜¸ ë° ê³ ê°ë²ˆí˜¸ ì´ìƒì¹˜ í™•ì¸

In [9]:
# ì£¼ë¬¸ë²ˆí˜¸ ì¤‘ ì•ê¸€ìê°€ Ië¡œ ì‹œì‘í•˜ì§€ ì•ŠëŠ” ì£¼ë¬¸ë²ˆí˜¸ í™•ì¸
cs_df[~cs_df['invoice_no'].str.startswith('I')]

Empty DataFrame
Columns: [invoice_no, customer_id, gender, age, category, quantity, price, payment_method, invoice_date, shopping_mall]
Index: []

In [10]:
# ê³ ê°ë²ˆí˜¸ ì¤‘ ì•ê¸€ìê°€ Cë¡œ ì‹œì‘í•˜ì§€ ì•ŠëŠ” ê³ ê°ë²ˆí˜¸ í™•ì¸
cs_df[~cs_df['customer_id'].str.startswith('C')]

Empty DataFrame
Columns: [invoice_no, customer_id, gender, age, category, quantity, price, payment_method, invoice_date, shopping_mall]
Index: []

#### ğŸ’¡ ë¶„ì„
- ëª¨ë“  ì£¼ë¬¸ë²ˆí˜¸ëŠ” ë™ì¼í•˜ê²Œ Ië¡œ ì‹œì‘í•¨.
- ëª¨ë“  ê³ ê°ë²ˆí˜¸ëŠ” ë™ì¼í•˜ê²Œ Cë¡œ ì‹œì‘í•¨.

#### ğŸ“Œ ì‹œì‚¬ì 
- ì‡¼í•‘ëª°ì— ë”°ë¼ ì£¼ë¬¸ë²ˆí˜¸ ë° ê³ ê°ë²ˆí˜¸ì˜ ì–‘ì‹ì´ ë‹¬ë¼ì§€ì§€ ì•Šìœ¼ë©°, ëª¨ë‘ ë™ì¼í•œ ì–‘ì‹ì„ ë„ê³  ìˆë‹¤.

#### â“ ê°€ì„¤
- ì‡¼í•‘ëª°ì— ë”°ë¼ ì£¼ë¬¸ë²ˆí˜¸ ë° ê³ ê°ë²ˆí˜¸ê°€ ë‹¬ë¼ì§€ì§€ ì•ŠëŠ”ë‹¤ë©´, ì‡¼í•‘ëª°ì€ ë‹¤ë¥´ì§€ë§Œ ì£¼ë¬¸ë²ˆí˜¸ ë° ê³ ê°ë²ˆí˜¸ê°€ ì¤‘ë³µë˜ëŠ” ê²½ìš°ê°€ ìˆì„ê¹Œ?

In [11]:
# ì£¼ë¬¸ë²ˆí˜¸ ë°ì´í„° ê°œìˆ˜ í™•ì¸
cs_df['invoice_no'].value_counts()

invoice_no
I138884    1
I291671    1
I175779    1
I226143    1
I683818    1
          ..
I319287    1
I173400    1
I828064    1
I194850    1
I232867    1
Name: count, Length: 99457, dtype: int64

In [12]:
# ê³ ê°ë²ˆí˜¸ ë°ì´í„° ê°œìˆ˜ í™•ì¸
cs_df['customer_id'].value_counts()

customer_id
C241288    1
C116138    1
C382765    1
C285074    1
C405356    1
          ..
C220083    1
C286933    1
C301304    1
C214184    1
C273973    1
Name: count, Length: 99457, dtype: int64

#### ğŸ’¡ ë¶„ì„
- ì£¼ë¬¸ë²ˆí˜¸ì™€ ê³ ê°ë²ˆí˜¸ëŠ” ê° 99457ê°œê°€ ì¡´ì¬í•˜ë©°, ì¤‘ë³µë˜ëŠ” ê°’ì´ ì—†ìŒ.

### â…¡. ë°ì´í„° ì „ì²˜ë¦¬

In [13]:
# ì „ì²˜ë¦¬ ì „ ì›ë³¸ ë°ì´í„° ë³´ì¡´ì„ ìœ„í•´ ë³µì‚¬í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ì— ë‹´ì•„ì£¼ê¸°
cs_copy_df = cs_df.copy()
cs_copy_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

#### ğŸ“Š invoice_date í˜„ì¬ ê¸°ì¤€ìœ¼ë¡œ ë³€ê²½

In [14]:
# invoice_data ë°ì´í„° ë³€í™˜
# 15/10/2022 í˜•ì‹ì—ì„œ dayfirst=Trueë¥¼ í†µí•´ ë‚ ì§œê°€ ë¨¼ì € ì˜¤ëŠ” í˜•ì‹ì„ ì‚¬ìš©í•œë‹¤ëŠ” ê²ƒì„ ë‚˜íƒ€ë‚¸ë‹¤.
cs_copy_df['invoice_date'] = pd.to_datetime(cs_copy_df['invoice_date'], dayfirst=True)

# ë‚ ì§œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
cs_copy_df.sort_values(by=['invoice_date'], ascending=False).reset_index(drop=True)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I289611,C222906,Female,45,Clothing,3,900.24,Debit Card,2023-03-08,Cevahir AVM
1,I271683,C180068,Male,55,Shoes,1,600.17,Credit Card,2023-03-08,Emaar Square Mall
2,I312534,C235553,Female,68,Food & Beverage,5,26.15,Credit Card,2023-03-08,Emaar Square Mall
3,I345170,C108141,Female,20,Food & Beverage,1,5.23,Credit Card,2023-03-08,Kanyon
4,I254758,C178144,Female,51,Cosmetics,5,203.30,Cash,2023-03-08,Metropol AVM
...,...,...,...,...,...,...,...,...,...,...
99452,I224830,C254068,Female,30,Food & Beverage,3,15.69,Cash,2021-01-01,Metrocity
99453,I211131,C280473,Male,51,Cosmetics,2,81.32,Cash,2021-01-01,Istinye Park
99454,I192911,C642829,Female,66,Food & Beverage,5,26.15,Credit Card,2021-01-01,Metrocity
99455,I474975,C193810,Female,20,Clothing,2,600.16,Credit Card,2021-01-01,Metropol AVM
99456,I262389,C193687,Male,27,Toys,4,143.36,Credit Card,2021-01-01,Istinye Park

In [15]:
# ë°ì´í„° ì¤‘ ê°€ì¥ ìµœì‹  ë‚ ì§œ ê°€ì ¸ì˜¤ê¸°
recently_date = pd.to_datetime(cs_copy_df['invoice_date'].max())
print(recently_date)

# í˜„ì¬ ê¸°ì¤€ìœ¼ë¡œ ë³€ê²½í•˜ê¸°
cs_copy_df['invoice_date'] = (recently_date - pd.to_datetime(cs_copy_df['invoice_date'])).dt.days

# ë‚ ì§œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬(ìµœì‹ ìˆœ)
cs_copy_df.sort_values(by=['invoice_date'], ascending = True).reset_index(drop=True)

2023-03-08 00:00:00

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I139558,C196970,Male,41,Food & Beverage,4,20.92,Credit Card,0,Metrocity
1,I323613,C276677,Male,41,Clothing,5,1500.40,Credit Card,0,Metropol AVM
2,I498568,C788712,Female,65,Shoes,4,2400.68,Cash,0,Kanyon
3,I122847,C290329,Female,53,Food & Beverage,4,20.92,Credit Card,0,Kanyon
4,I139860,C224033,Male,28,Clothing,5,1500.40,Debit Card,0,Emaar Square Mall
...,...,...,...,...,...,...,...,...,...,...
99452,I371949,C260427,Male,50,Toys,2,71.68,Credit Card,796,Metrocity
99453,I278066,C316581,Female,48,Food & Beverage,2,10.46,Cash,796,Kanyon
99454,I115941,C105769,Male,34,Clothing,1,300.08,Cash,796,Istinye Park
99455,I101088,C824542,Female,28,Toys,5,179.20,Debit Card,796,Kanyon
99456,I274757,C231715,Male,44,Cosmetics,2,81.32,Credit Card,796,Mall of Istanbul

#### ğŸ“Š ì£¼ë¬¸ ë³„ ì´ ê²°ì œ ê¸ˆì•¡

In [16]:
# ì£¼ë¬¸ ìˆ˜ëŸ‰ê³¼ ìƒí’ˆ ë‹¨ê°€ë¥¼ ê³±í•˜ì—¬ ì£¼ë¬¸ ë³„ ì´ ê²°ì œ ê¸ˆì•¡ êµ¬í•˜ê¸°
cs_copy_df['total_price'] = cs_copy_df['quantity'] * cs_copy_df['price']
cs_copy_df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,total_price
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,215,Kanyon,7502.00
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,451,Forum Istanbul,5401.53
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,484,Metrocity,300.08
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,661,Metropol AVM,15004.25
4,I337046,C189076,Female,53,Books,4,60.60,Cash,500,Kanyon,242.40
...,...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,168,Kanyon,293.25
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,532,Forum Istanbul,20.92
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,710,Metrocity,20.92
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,722,Istinye Park,16800.00
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,144,Mall of Istanbul,105.57

#### ğŸ“Š Recency (ì‡¼í•‘ëª° ë³„)

In [22]:
# ì‡¼í•‘ëª° ë³„ë¡œ êµ¬ë§¤ ì¼ìì— ëŒ€í•œ í‰ê· ì„ êµ¬í•˜ê³  ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ì— ë‹´ì•„ì£¼ê¸°
rfm_df = cs_copy_df.groupby('shopping_mall')['invoice_date'].mean().reset_index(name='recently_mean_date')
rfm_df

       shopping_mall  recently_mean_date
0        Cevahir AVM          405.023843
1  Emaar Square Mall          395.769071
2     Forum Istanbul          398.580554
3       Istinye Park          395.735610
4             Kanyon          394.678404
5   Mall of Istanbul          395.740912
6          Metrocity          397.105989
7       Metropol AVM          398.891546
8     Viaport Outlet          401.312983
9       Zorlu Center          394.638424

#### ğŸ“Š Frequency (ì‡¼í•‘ëª° ë³„)

In [26]:
rfm_df['invoice_count'] = cs_copy_df.groupby('shopping_mall')['invoice_no'].count().reset_index()['invoice_no']
rfm_df

       shopping_mall  recently_mean_date  invoice_count
0        Cevahir AVM          405.023843           4991
1  Emaar Square Mall          395.769071           4811
2     Forum Istanbul          398.580554           4947
3       Istinye Park          395.735610           9781
4             Kanyon          394.678404          19823
5   Mall of Istanbul          395.740912          19943
6          Metrocity          397.105989          15011
7       Metropol AVM          398.891546          10161
8     Viaport Outlet          401.312983           4914
9       Zorlu Center          394.638424           5075

#### ğŸ“Š Monetary (ì‡¼í•‘ëª° ë³„)

In [27]:
rfm_df['all_total_price'] = cs_copy_df.groupby('shopping_mall').sum('total_price').reset_index()['total_price']
rfm_df

       shopping_mall  recently_mean_date  invoice_count  all_total_price
0        Cevahir AVM          405.023843           4991      12645138.20
1  Emaar Square Mall          395.769071           4811      12406100.29
2     Forum Istanbul          398.580554           4947      12303921.24
3       Istinye Park          395.735610           9781      24618827.68
4             Kanyon          394.678404          19823      50554231.10
5   Mall of Istanbul          395.740912          19943      50872481.68
6          Metrocity          397.105989          15011      37302787.33
7       Metropol AVM          398.891546          10161      25379913.19
8     Viaport Outlet          401.312983           4914      12521339.72
9       Zorlu Center          394.638424           5075      12901053.82

In [29]:
# ì¤‘ë³µê°’ ê²€ì‚¬
rfm_df.duplicated().sum()

0

### â…¢. ì •ê·œí™”

In [38]:
from sklearn.preprocessing import MinMaxScaler

# ë°ì´í„° í”„ë ˆì„ ë³µì‚¬
rfm = rfm_df.copy()
# shopping_mall í”¼ì²˜ ì‚­ì œ
rfm = rfm.drop(labels=['shopping_mall'], axis=1)

# ì •ê·œí™” ì§„í–‰
normalization = MinMaxScaler()
rfm_normalization = normalization.fit_transform(rfm)

# ì •ê·œí™”ëœ ë°ì´í„°ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜, í”¼ì²˜ëŠ” rfm ë°ì´í„° í”„ë ˆì„ê³¼ ë™ì¼í•˜ê²Œ ì„¤ì •
rfm = pd.DataFrame(rfm_normalization, columns=rfm.columns)

# recently_mean_dateëŠ” í˜„ì¬ ë‚®ì„ ìˆ˜ë¡ ìµœì‹ ì— ê°€ê¹ê³ , ìµœì‹  ì ìˆ˜ê°€ ë” ë†’ì•„ì•¼ í•˜ê¸° ë•Œë¬¸ì— 1ì„ ë¹¼ì„œ ì ìˆ˜ë¥¼ ë†’ì—¬ì¤€ë‹¤.
rfm['recently_mean_date'] = 1 - rfm['recently_mean_date']
rfm

   recently_mean_date  invoice_count  all_total_price
0            0.000000       0.011895         0.008847
1            0.891131       0.000000         0.002649
2            0.620417       0.008988         0.000000
3            0.894353       0.328443         0.319299
4            0.996150       0.992070         0.991748
5            0.893843       1.000000         1.000000
6            0.762401       0.674068         0.648167
7            0.590472       0.353555         0.339032
8            0.357314       0.006807         0.005637
9            1.000000       0.017446         0.015482

#### ğŸ“Š ì‡¼í•‘ëª° ë“±ê¸‰(ìˆœìœ„)

In [52]:
# rfmì„ ë”í•˜ì—¬ TotalScore êµ¬í•˜ê¸°
rfm_df['TotalScore'] = rfm[['recently_mean_date', 'invoice_count', 'all_total_price']].sum(axis=1)
# ìˆœìœ„ë³„ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
rfm_df = rfm_df.sort_values(by=['TotalScore'], ascending = False).reset_index(drop=True)
# ì •ë ¬ ìˆœì„œëŒ€ë¡œ ìˆœìœ„ ë„£ê¸°
rfm_df['rank'] = rfm_df['TotalScore'].rank(ascending = False)

#í˜„ì¬ ìˆœìœ„ê°€ ì‹¤ìˆ˜ë¡œ ë‚˜ì˜¤ê¸° ë•Œë¬¸ì—, ì •ìˆ˜ë¡œ íƒ€ì… ë³€í™˜
rfm_df = rfm_df.astype({'rank': 'int8'})
rfm_df

,shopping_mall,recently_mean_date,invoice_count,all_total_price,TotalScore,rank
0,Metropol AVM,398.891546,10161,25379913.19,2.979969,1
1,Zorlu Center,394.638424,5075,12901053.82,2.893843,2
2,Emaar Square Mall,395.769071,4811,12406100.29,2.084636,3
3,Istinye Park,395.735610,9781,24618827.68,1.542095,4
4,Forum Istanbul,398.580554,4947,12303921.24,1.283060,5
5,Cevahir AVM,405.023843,4991,12645138.20,1.032929,6
6,Mall of Istanbul,395.740912,19943,50872481.68,0.893781,7
7,Metrocity,397.105989,15011,37302787.33,0.629404,8
8,Viaport Outlet,401.312983,4914,12521339.72,0.369758,9
9,Kanyon,394.678404,19823,50554231.10,0.020742,10