### RFM ë¶„ì„ ì‹¤ìŠµ
- Recency: ì–¼ë§ˆë‚˜ ìµœê·¼ì— êµ¬ë§¤í–ˆëŠ”ê°€
- Frequency: ì–¼ë§ˆë‚˜ ìì£¼ êµ¬ë§¤í–ˆëŠ”ê°€
- Monetary: ì–¼ë§ˆë‚˜ ë§ì€ ê¸ˆì•¡ì„ ì§€ì¶œí–ˆëŠ”ê°€

### ê³ ê° ë¶„ì„

> voice_no: ì†¡ì¥ ë²ˆí˜¸. ëª…ì‚¬ ê°™ì€. ê° ì‘ì—…ì— ê³ ìœ í•˜ê²Œ í• ë‹¹ëœ ë¬¸ì 'I'ì™€ 6ìë¦¬ ì •ìˆ˜ì˜ ì¡°í•©  
customer_id: ê³ ê°ë²ˆí˜¸. ëª…ì‚¬ ê°™ì€. ê° ì‘ì—…ì— ê³ ìœ í•˜ê²Œ í• ë‹¹ëœ ë¬¸ì 'C'ì™€ 6ìë¦¬ ì •ìˆ˜ì˜ ì¡°í•©  
gender: ê³ ê° ì„±ë³„ì˜ ë¬¸ìaì—´ ë³€ìˆ˜  
age: ê³ ê° ì—°ë ¹ì˜ ì–‘ì˜ ì •ìˆ˜ ë³€ìˆ˜  
category: êµ¬ë§¤í•œ ìƒí’ˆ ì¹´í…Œê³ ë¦¬ì˜ ë¬¸ìì—´ ë³€ìˆ˜ 
quantity: ê±°ë˜ë‹¹ ê° ì œí’ˆ(í•­ëª©)ì˜ ìˆ˜ëŸ‰  
price: ë‹¨ê°€. ìˆ«ì. ë‹¨ìœ„ë‹¹ ì œí’ˆ ê°€ê²©ì€ í„°í‚¤ ë¦¬ë¼(TL)  
payment_method: ê±°ë˜ì— ì‚¬ìš©ëœ ê²°ì œ ë°©ë²•(í˜„ê¸ˆ, ì‹ ìš© ì¹´ë“œ ë˜ëŠ” ì§ë¶ˆ ì¹´ë“œ)ì˜ ë¬¸ìì—´ ë³€ìˆ˜  
invoice_date: ì†¡ì¥ ë‚ ì§œ. ê±°ë˜ê°€ ë°œìƒí•œ ë‚   
shopping_mall: ê±°ë˜ê°€ ì´ë£¨ì–´ì§„ ì‡¼í•‘ëª° ì´ë¦„ì˜ ë¬¸ìì—´ ë³€ìˆ˜

### â… . ë°ì´í„° íƒìƒ‰

In [1]:
import pandas as pd

cs_df = pd.read_csv("./datasets/customer_shopping_data.csv")
display(cs_df)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

#### âœï¸ ê¸°íš 
1. ì‡¼í•‘ëª° ë³„ ì´ìš© ë¹ˆë„ ë¶„ì„(ì¸ê¸°ìˆœ,,,)
2. ì‡¼í•‘ëª° ì¹´í…Œê³ ë¦¬.. ë¶„ì„ ë­ íŒŒëŠ” ê³³ì¸ì§€? > ê·¸ë˜ì„œ ìœ ì‚¬í•œ ê±° ë¼ë¦¬ ë¶„ì„í•  ìˆ˜ ìˆì„ë“¯
4. ì‡¼í•‘ëª© ë³„ ì£¼ ì‚¬ìš©ì ì—°ë ¹ì¸µ, ì„±ë³„ ë¶„ì„
5. ì‡¼í•‘ëª° ë³„..rfmí•´ì•¼ë ë“¯ ì „ì²´ì—ì„œ í•˜ëŠ”ã„´ ê±° ì•„ë‹ˆê³  ì‡¼í•‘ëª° ì¸ì›ë¼ë¦¬ ëª¨ì•„ì„œ ì´í•©í•˜ê³  êµ¬í•´ì•¼ë¨!!!(ìµœê·¼ ì´ìš© ë‚ ì§œëŠ” í‰ê· ìœ¼ë¡œ êµ¬í•  ìˆ˜ ìˆì§€ ì•Šì„ê¹Œ?)
6. ë§¤ì¶œ ë¶„ì„

#### ğŸ“Š ë°ì´í„° ì •ë³´ í™•ì¸

In [7]:
# cs_df ì˜ ì •ë³´ ê°€ì ¸ì˜¤ê¸°
cs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [15]:
# ìƒí’ˆ ì¹´í…Œê³ ë¦¬ í™•ì¸
cs_df['category'].value_counts()

category
Clothing           34487
Cosmetics          15097
Food & Beverage    14776
Toys               10087
Shoes              10034
Souvenir            4999
Technology          4996
Books               4981
Name: count, dtype: int64

In [17]:
# ê²°ì œ ë°©ì‹ í™•ì¸
cs_df['payment_method'].value_counts()

payment_method
Cash           44447
Credit Card    34931
Debit Card     20079
Name: count, dtype: int64

#### ğŸ“Š ê²°ì¸¡ì¹˜ ê²€ì‚¬

In [10]:
# cs_dfì˜ ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ ê°€ì ¸ì˜¤ê¸°
cs_df.isna().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

#### ğŸ“Š ì¤‘ë³µí–‰ ê²€ì‚¬

In [11]:
# cs_dfì˜ ì¤‘ë³µí–‰ ê°œìˆ˜ë¥¼ ê°€ì ¸ì˜¤ê¸°
cs_df.duplicated().sum()

0

#### ğŸ’¡ ë¶„ì„
- ì‡¼í•‘ëª° ë³„ ê±°ë˜ ë°ì´í„° í”„ë ˆì„ì˜ ì „ì²´ ì •ë³´
- 10ê°œ ì»¬ëŸ¼ì´ ì¡´ì¬í•¨.
- 99457ê°œ ë°ì´í„° ì¡´ì¬í•¨.
- ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŒ.
- ì¤‘ë³µ ë°ì´í„°ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŒ.

#### â“ ê°€ì„¤
- í™˜ë¶ˆëœ ì£¼ë¬¸ ë°ì´í„°ê°€ ìˆì„ê¹Œ?

#### ğŸ“Š ìˆ«ìí˜• ë°ì´í„° ê°œìˆ˜, í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Œê°’, ì‚¬ë¶„ìœ„ ë¶„í¬ë„, ìµœëŒ€ê°’ í™•ì¸

In [6]:
cs_df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,99457.0,43.427089,14.990054,18.00,30.00,43.0,56.00,69.0
quantity,99457.0,3.003429,1.413025,1.00,2.00,3.0,4.00,5.0
price,99457.0,689.256321,941.184567,5.23,45.45,203.3,1200.32,5250.0

#### ğŸ’¡ ë¶„ì„
- ê³ ê°ì˜ í‰ê·  ì—°ë ¹ì€ ì•½ 43ì‚´ìœ¼ë¡œ ë‚˜íƒ€ë‚¨.
- ìµœê³  ì—°ë ¹ì€ 69ì‚´ì´ë©°, ìµœì†Œ ì—°ë ¹ì€ 18ìœ¼ë¡œ ë‚˜íƒ€ë‚¨.
- ê³ ê° ë‹¹ í‰ê·  ì•½ 1.4ê°œì˜ ì œí’ˆì„ êµ¬ë§¤í•œ ê²ƒìœ¼ë¡œ ë‚˜íƒ€ë‚¨.
- ìƒí’ˆ ë‹¨ê°€ëŠ” í‰ê·  ì•½ 689.427ë¡œ ë‚˜íƒ€ë‚¨.
- ìƒí’ˆì˜ ìµœê³  ë‹¨ê°€ëŠ” 5250ì´ë©°, ìµœì†Œ ë‹¨ê°€ëŠ” 5.23ìœ¼ë¡œ ë‚˜íƒ€ë‚¨.

#### ğŸ“Œ ì‹œì‚¬ì 
- ìƒí’ˆ ìµœì†Œ ë‹¨ê°€ê°€ ìŒìˆ˜ë¡œ ë‚˜ì˜¤ì§€ ì•Šì•˜ê¸° ë•Œë¬¸ì— í™˜ë¶ˆëœ ë°ì´í„°ê°€ ì—†ëŠ” ê²ƒìœ¼ë¡œ íŒë‹¨í•¨.
- ë‚˜ì´, ê°œìˆ˜ëŠ” ì´ìƒì¹˜ ì œê±°ê°€ ì ì ˆí•˜ì§€ ì•Šë‹¤ê³  íŒë‹¨ë˜ë¯€ë¡œ, ë³„ë„ì˜ ì´ìƒì¹˜ ì œê±°ëŠ” ì‹¤ì‹œí•˜ì§€ ì•ŠìŒ.

#### â“ ê°€ì„¤
- ì£¼ë¬¸ë²ˆí˜¸ ì¤‘ Ië¡œ ì‹œì‘í•˜ì§€ ì•ŠëŠ” ì£¼ë¬¸ë²ˆí˜¸ê°€ ìˆì„ê¹Œ?
- ê³ ê°ë²ˆí˜¸ ì¤‘ Cë¡œ ì‹œì‘í•˜ì§€ ì•ŠëŠ” ê³ ê°ë²ˆí˜¸ê°€ ìˆì„ê¹Œ?