### RFM Î∂ÑÏÑù  

ÏÇ¨Ïö©ÏûêÎ≥ÑÎ°ú ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê, ÏñºÎßàÎÇò ÏûêÏ£º, ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÏßÄÏóê Îî∞Îùº ÏÇ¨Ïö©ÏûêÎì§Ïùò Î∂ÑÌè¨Î•º ÌôïÏù∏ÌïòÍ±∞ÎÇò  
ÏÇ¨Ïö©Ïûê Í∑∏Î£π(ÎòêÎäî Îì±Í∏â)ÏùÑ ÎÇòÎàÑÏñ¥ Î∂ÑÎ•òÌïòÎäî Î∂ÑÏÑù Í∏∞Î≤ïÏù¥Îã§. Íµ¨Îß§ Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏùÄ Í≥†Í∞ùÏùÑ ÏÑ†Ï†ïÌï† Îïå Ïö©Ïù¥Ìïú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î∞©Î≤ïÏù¥Î©∞,  
ÏÇ¨Ïö©ÏûêÎì§Ïùò ÌèâÏÜå Íµ¨Îß§ Ìå®ÌÑ¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î∂ÑÎ•òÎ•º ÏßÑÌñâÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Í∞Å ÏÇ¨Ïö©Ïûê Í∑∏Î£πÏùò ÌäπÏÑ±Ïóê Îî∞Îùº  
Ï∞®Î≥ÑÌôîÎêú ÎßàÏºÄÌåÖ Î©îÏÑ∏ÏßÄÎ•º Ï†ÑÎã¨Ìï† Ïàò ÏûàÎã§.  

- Recency: ÏñºÎßàÎÇò ÏµúÍ∑ºÏóê Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Frequency: ÏñºÎßàÎÇò ÏûêÏ£º Íµ¨Îß§ÌñàÎäîÍ∞Ä
- Monetary: ÏñºÎßàÎÇò ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÍ∞Ä

### üõíÏù¥Ïª§Î®∏Ïä§ ÌîåÎû´Ìèº AÍ∏∞ÏóÖÏùò RFM Î∂ÑÏÑù
üìåÏù¥Ïª§Î®∏Ïä§: Ïò®ÎùºÏù∏ÏùÑ ÌÜµÌï¥ ÏÉÅÌíàÏù¥ÎÇò ÏÑúÎπÑÏä§Î•º ÏÇ¨Í≥†ÌååÎäî ÏÑúÎπÑÏä§ (Ïø†Ìå°, 11Î≤àÍ∞Ä, ÎÑ§Ïù¥Î≤Ñ Îì±)

 
<table style="width: 50%; margin-left:10px;">
    <caption>Í≥†Í∞ù Î∂ÑÏÑù</caption>
    <tr>
        <th>ÏÇ¨Ïö©Ïûê</th>
        <th>Íµ¨Îß§ ÌöüÏàò</th>
        <th>Íµ¨Îß§ Í∏àÏï°</th>
        <th>ÏµúÍ∑º Íµ¨Îß§Ïùº</th>
    </tr>
    <tr>
        <th>ÌïúÎèôÏÑù</th>
        <th>45</th>
        <th>1,980,000</th>
        <th>2Í∞úÏõî Ï†Ñ</th>
    </tr>
    <tr>
        <th>Ï£ºÏÑ†Ïú†</th>
        <th>2</th>
        <th>45,320</th>
        <th>1ÎÖÑ Ï†Ñ</th>
    </tr>
</table>

#### üëì"ÌïúÎèôÏÑù" Í≥†Í∞ùÏùÑ VIPÎ°ú ÏÑ†Ï†ïÌï¥ÏÑú Ïó∞Îßê ÏÑ†Î¨ºÏùÑ Ï†ÑÎã¨ÌïòÎ©¥, Ï∂©ÏÑ±Ïã¨ÏûàÎäî Í≥†Í∞ùÏúºÎ°ú Ïú†ÏßÄÌï† Ïàò ÏûàÎäî Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∏ ÏàòÎèÑ ÏûàÍ≥†, <br><br> üé´"Ï£ºÏÑ†Ïú†" Í≥†Í∞ùÏóêÍ≤å Ìï†Ïù∏ Ïø†Ìè∞ Îì± ÏûêÏÇ¨Ïùò ÌîåÎû´ÌèºÏùÑ Ïù¥Ïö©Ìï† Í±∞Î¶¨Î•º Ï†ÑÎã¨Ìï®ÏúºÎ°úÏç®, Íµ¨Îß§Î•º Ïú†ÎèÑÌï† Ïàò ÏûàÎäî Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∏ ÏàòÎèÑ ÏûàÎã§.

#### RFMÏùÑ ÌÜµÌï¥ ÏÇ¨Ïö©Ïûê ÌäπÏÑ±Î≥ÑÎ°ú Îã§Î•∏ Ï†ïÏ±ÖÏùÑ Ï†ÅÏö©ÌïòÍ≥† ÏÑúÎπÑÏä§Î•º Îçî Ïûò ÏÇ¨Ïö©ÌïòÎèÑÎ°ù Ïú†ÎèÑÌïòÎäî Ï†ÑÎûµÏùÑ ÏÑ∏Ïö∏ Ïàò ÏûàÎã§.

### Í≥†Í∞ù Î∂ÑÏÑù

> - ÏÇ¨ÎûåÎì§

>> ID: Í≥†Í∞ùÏùò Í≥†Ïú† ÏãùÎ≥ÑÏûê  
Year_Birth: Í≥†Í∞ùÏùò Ï∂úÏÉù Ïó∞ÎèÑ  
Education: Í≥†Í∞ùÏùò ÍµêÏú° ÏàòÏ§Ä  
Marital_Status: Í≥†Í∞ùÏùò Í≤∞Ìòº ÏÉÅÌÉú  
Income: Í≥†Í∞ùÏùò Ïó∞Í∞Ñ Í∞ÄÍµ¨ ÏÜåÎìù  
Kidhome: Í≥†Í∞ù Í∞ÄÍµ¨Ïùò ÏûêÎÖÄ Ïàò  
Teenhome: Í≥†Í∞ù Í∞ÄÍµ¨Ïùò Ï≤≠ÏÜåÎÖÑ Ïàò  
Dt_Customer : Í≥†Í∞ùÏù¥ ÌöåÏÇ¨Ïóê Îì±Î°ùÎêú ÎÇ†Ïßú  
Recency: Í≥†Í∞ùÏùò ÎßàÏßÄÎßâ Íµ¨Îß§ Ïù¥ÌõÑ Í≤ΩÍ≥ºÎêú ÏùºÏàò  
Complain: ÏßÄÎÇú 2ÎÖÑ ÎèôÏïà Í≥†Í∞ùÏù¥ Î∂àÎßå ÏÇ¨Ìï≠ÏùÑ Ï†úÍ∏∞Ìïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  

> - Ï†úÌíà

>> MntWines: ÏßÄÎÇú 2ÎÖÑÍ∞Ñ ÏôÄÏù∏Ïóê ÏßÄÏ∂úÌïú Í∏àÏï°  
MntFruits: ÏßÄÎÇú 2ÎÖÑÍ∞Ñ Í≥ºÏùºÏóê ÏßÄÏ∂úÌïú Í∏àÏï°  
MntMeatProducts: ÏßÄÎÇú 2ÎÖÑÍ∞Ñ Ïú°Î•òÏóê ÏßÄÏ∂úÌïú Í∏àÏï°  
MntFishProducts: ÏßÄÎÇú 2ÎÖÑÍ∞Ñ ÏÉùÏÑ†Ïóê ÏßÄÏ∂úÌïú Í∏àÏï°  
MntSweetProducts: ÏßÄÎÇú 2ÎÖÑÍ∞Ñ Í≥ºÏûêÏóê ÏßÄÏ∂úÌïú Í∏àÏï°  
MntGoldProds: ÏßÄÎÇú 2ÎÖÑÍ∞Ñ Í∏àÏóê ÏßÄÏ∂úÎêú Í∏àÏï°  

> - ÌôçÎ≥¥

>> NumDealsPurchases: Ìï†Ïù∏Îêú Íµ¨Îß§ ÌöüÏàò  
AcceptedCmp1: Í≥†Í∞ùÏù¥ Ï≤´ Î≤àÏß∏ Ï∫†ÌéòÏù∏ÏóêÏÑú Ï†úÏïàÏùÑ ÏàòÎùΩÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  
AcceptedCmp2: Í≥†Í∞ùÏù¥ Îëê Î≤àÏß∏ Ï∫†ÌéòÏù∏ÏóêÏÑú Ï†úÏïàÏùÑ ÏàòÎùΩÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  
AcceptedCmp3: Í≥†Í∞ùÏù¥ ÏÑ∏ Î≤àÏß∏ Ï∫†ÌéòÏù∏ÏóêÏÑú Ï†úÏïàÏùÑ ÏàòÎùΩÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  
AcceptedCmp4: Í≥†Í∞ùÏù¥ 4Î≤àÏß∏ Ï∫†ÌéòÏù∏ÏóêÏÑú Ï†úÏïàÏùÑ ÏàòÎùΩÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  
AcceptedCmp5: Í≥†Í∞ùÏù¥ 5Î≤àÏß∏ Ï∫†ÌéòÏù∏ÏóêÏÑú Ï†úÏïàÏùÑ ÏàòÎùΩÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  
Response: Í≥†Í∞ùÏù¥ ÎßàÏßÄÎßâ Ï∫†ÌéòÏù∏ÏóêÏÑú Ï†úÏïàÏùÑ ÏàòÎùΩÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ 0  

> - Ïû•ÏÜå

>> NumWebPurchases: ÌöåÏÇ¨ ÏõπÏÇ¨Ïù¥Ìä∏Î•º ÌÜµÌï¥ Ïù¥Î£®Ïñ¥ÏßÑ Íµ¨Îß§ ÌöüÏàò  
NumCatalogPurchases: Ïπ¥ÌÉàÎ°úÍ∑∏Î•º ÏÇ¨Ïö©ÌïòÏó¨ Íµ¨Îß§Ìïú ÌöüÏàò  
NumStorePurchases: Îß§Ïû•ÏóêÏÑú ÏßÅÏ†ë Íµ¨Îß§Ìïú ÌöüÏàò  
NumWebVisitsMonth: ÏßÄÎÇú Îã¨ ÌöåÏÇ¨ ÏõπÏÇ¨Ïù¥Ìä∏ Î∞©Î¨∏ ÌöüÏàò

In [2]:
import pandas as pd

path = "./datasets/customer_personality_analysis.csv"
cp_df = pd.read_csv(path, sep="\t")

display(cp_df)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [3]:
cp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

#### Ï§ëÎ≥µ Ìñâ Í≤ÄÏÇ¨

In [5]:
cp_df.duplicated().sum()

0

#### Í≤∞Ï∏°Ïπò Í≤ÄÏÇ¨

In [9]:
cp_df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

#### Í≤∞Ï∏°ÏπòÎ•º Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâÏùÑ ÌÜµÌï¥ ÏÑ†Ï†ïÎêú ÎåÄÌëúÍ∞íÏúºÎ°ú Ï±ÑÏö∞Í∏∞

In [12]:
cp_df[["Income"]].describe().T

,count,mean,std,min,25%,50%,75%,max
Income,2216.0,52247.251354,25173.076661,1730.0,35303.0,51381.5,68522.0,666666.0

In [15]:
# Ï§ëÏúÑ ÏÜåÎìù
median_income = cp_df["Income"].median()

cp_df["Income"].fillna(median_income, inplace=True)
cp_df.isna().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

#### Ïù¥ÏÉÅÏπò(Outlier) Í≤ÄÏÇ¨

In [19]:
cp_df = cp_df[cp_df["Year_Birth"] >= 1924]
display(cp_df)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [20]:
cp_df[cp_df["Income"] < 0]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response]
Index: []

[0 rows x 29 columns]

In [22]:
import numpy as np

Q1 = cp_df.describe().T.loc['Income', '25%']
Q3 = cp_df.describe().T.loc['Income', '75%']

iqr = Q3 - Q1

lower_bound = Q1 - iqr * 1.5
uppper_bound = Q3 + iqr * 1.5

if lower_bound < 0:
    lower_bound = 0

print(f'Ï†ïÏÉÅÏπò Î≤îÏúÑ: {lower_bound} ~ {uppper_bound}')

Ï†ïÏÉÅÏπò Î≤îÏúÑ: 0 ~ 117418.0

In [24]:
cp_df = cp_df[cp_df['Income'] <= uppper_bound]
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

#### Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨
- Îç∞Ïù¥ÌÑ∞Ïùò Ïú†ÌòïÏùÑ Î≥ÄÌôòÌïòÍ±∞ÎÇò Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏóê Ïö©Ïù¥Ìïú ÌòïÌÉúÎ°ú Î≥ÄÌôòÌïòÎäî ÏûëÏóÖÏùÑ ÌÜµÌï¥  
  Î∂àÌïÑÏöîÌïú Ïª¨Îüº ÏÇ≠Ï†ú, Ïó¥ Î≥ëÌï© Îì±ÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÏ†úÌïòÎäî Ï≤òÎ¶¨Î∞©ÏãùÏù¥Îã§.

- Z_CostContact Î∞è Z_Revenue Ïó¥Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏù¥ ÏóÜÏúºÎ©∞ IDÎèÑ ÏÇ¨Ïö©ÎêòÏßÄ ÏïäÏùå
- Complain, AcceptedCmp3, AcceptedCmp2, AcceptedCmp1, AcceptedCmp4,  
  AcceptedCmp5 Î∞è Response Ïó¥Ïùò ÏùëÎãµÎ•†Ïù¥ Îß§Ïö∞ ÎÇÆÏùå
- Year_BirthÎäî ÌòÑÏû¨ Ïó∞ÎèÑÏóêÏÑú Ï∞®Í∞êÌïòÏó¨ AgeÎ°ú Î≥ÄÌôò
- Dt_CustomerÎäî Í≥†Í∞ùÏúºÎ°ú Îì±Î°ùÎêú ÎÇ†ÏßúÏù¥Î©∞, ÌòÑÏû¨ Ïó∞ÎèÑÏóêÏÑú Ï∞®Í∞êÌïòÏó¨ Year_CustomerÎ°ú Î≥ÄÌôòÌïòÍ≥†,  
  Ïó∞Ï∞® Í≥ÑÏÇ∞ÏùÑ ÏúÑÌï¥ datetime typeÏúºÎ°ú Î≥ÄÌôò(ÌòÑÏû¨ Ïó∞ÎèÑÎ•º 2021ÎÖÑÏúºÎ°ú Í∞ÄÏ†ïÌïúÎã§).
- KidhomeÍ≥º TeenhomeÏùÑ Í≤∞Ìï©ÌïòÏó¨ ChildrendÏúºÎ°ú Î≥ÄÌôò
- Education Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Î•º ÌïôÏúÑ Í∏∞Ï§ÄÏúºÎ°ú Î™ÖÏπ≠ Î≥ÄÍ≤Ω
- Marital_Status Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞ Ï§ë Í≤∞Ìòº Ïó¨Î∂ÄÏôÄ Í¥ÄÎ†® ÏóÜÎäî Í≤É ÏÇ≠Ï†ú
- Í∞Å Íµ¨Îß§ ÌöüÏàò Í¥ÄÎ†® Îç∞Ïù¥ÌÑ∞Î•º Ìï©ÌïòÏó¨ FrequencyÎ°ú Î≥ÄÌôò
- Í∞Å ÏßÄÏ∂ú Í∏àÏï° Í¥ÄÎ†® Îç∞Ïù¥ÌÑ∞Î•º Ìï©ÌïòÏó¨ MonetaryÎ°ú Î≥ÄÌôò

In [29]:
cp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2229 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2229 non-null   int64
 1   Year_Birth           2229 non-null   int64
 2   Education            2229 non-null   object
 3   Marital_Status       2229 non-null   object
 4   Income               2229 non-null   float64
 5   Kidhome              2229 non-null   int64
 6   Teenhome             2229 non-null   int64
 7   Dt_Customer          2229 non-null   object
 8   Recency              2229 non-null   int64
 9   MntWines             2229 non-null   int64
 10  MntFruits            2229 non-null   int64
 11  MntMeatProducts      2229 non-null   int64
 12  MntFishProducts      2229 non-null   int64
 13  MntSweetProducts     2229 non-null   int64
 14  MntGoldProds         2229 non-null   int64
 15  NumDealsPurchases    2229 non-null   int64
 16  NumWebPurchases      2229 non-null   int64
 17  NumCatalogPurchases  2229 non-null   int64
 18  NumStorePurchases    2229 non-null   int64
 19  NumWebVisitsMonth    2229 non-null   int64
 20  AcceptedCmp3         2229 non-null   int64
 21  AcceptedCmp4         2229 non-null   int64
 22  AcceptedCmp5         2229 non-null   int64
 23  AcceptedCmp1         2229 non-null   int64
 24  AcceptedCmp2         2229 non-null   int64
 25  Complain             2229 non-null   int64
 26  Z_CostContact        2229 non-null   int64
 27  Z_Revenue            2229 non-null   int64
 28  Response             2229 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 522.4+ KB

In [31]:
cp_df[['Complain', 'AcceptedCmp3', 'AcceptedCmp2', 'AcceptedCmp1', 'AcceptedCmp4',
'AcceptedCmp5', 'Response']].value_counts()

Complain  AcceptedCmp3  AcceptedCmp2  AcceptedCmp1  AcceptedCmp4  AcceptedCmp5  Response
0         0             0             0             0             0             0           1604
                                                                                1            145
          1             0             0             0             0             0             74
          0             0             0             1             0             0             73
          1             0             0             0             0             1             54
          0             0             1             0             0             0             39
                                      0             0             1             0             37
                                                                                1             21
                                      1             1             1             1             19
1         0             0             0             0             0             0             17
0         0             0             1             0             1             1             14
                                                                  0             1             13
                                      0             1             1             0             12
                                                                                1             12
                                                                  0             1             11
          1             0             1             0             1             1             10
          0             0             1             1             0             0              8
                                                    0             1             0              7
                        1             1             1             1             1              7
                        0             1             1             0             1              6
                        1             0             1             0             0              5
          1             0             1             0             0             1              5
          0             0             1             1             1             0              4
          1             0             0             0             1             0              4
                                      1             0             1             0              3
          0             1             0             1             0             1              3
          1             1             1             0             1             1              3
                        0             1             0             0             0              3
                        1             0             0             1             1              2
                                                                  0             0              2
          0             1             0             1             1             0              2
                                      1             1             0             1              2
                                      0             1             1             1              2
          1             0             0             0             1             1              1
          0             1             1             1             1             0              1
                                      0             0             0             1              1
1         0             0             0             0             0             1              1
          1             0             0             0             0             1              1
                                                                  1             1              1
Name: count, dtype: int64

In [32]:
drop_columns = [
    'Complain', 'AcceptedCmp3', 'AcceptedCmp2', 'AcceptedCmp1', 'AcceptedCmp4', 
    'AcceptedCmp5', 'Response', 'Z_CostContact', 'Z_Revenue'
]

cp_df = cp_df.drop(labels=drop_columns, axis=1)
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7

In [33]:
cp_df['Age'] = 2021 - cp_df['Year_Birth']
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,546,172,88,88,3,8,10,4,7,64
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,6,2,1,6,2,1,1,2,5,67
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,127,111,21,42,1,8,2,10,4,56
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,20,10,3,5,2,2,0,4,6,37
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,118,46,27,15,5,5,3,6,5,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,182,42,118,247,2,9,3,4,5,54
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,30,0,0,8,7,8,2,5,7,75
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,217,32,12,24,1,2,3,13,6,40
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,214,80,30,61,2,6,5,10,3,65
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,61,2,1,21,3,3,1,4,7,67

In [38]:
cp_df['Dt_Customer'] = pd.to_datetime(cp_df['Dt_Customer'], dayfirst=True)
cp_df.sort_values(['Dt_Customer'], ascending=False)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age
989,453,1956,PhD,Widow,35340.0,1,1,2014-06-29,1,27,...,12,0,1,5,2,2,0,3,5,65
200,7300,1952,Graduation,Divorced,69142.0,0,1,2014-06-29,50,448,...,34,6,4,39,3,8,1,7,5,69
45,1371,1976,Graduation,Single,79941.0,0,0,2014-06-28,72,123,...,266,227,30,174,1,2,4,9,1,45
796,6722,1954,PhD,Married,70421.0,0,1,2014-06-28,98,479,...,136,75,14,35,3,10,3,7,6,67
1812,8093,1969,Master,Married,79734.0,0,0,2014-06-28,72,572,...,232,23,62,17,1,4,3,6,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194,7118,1957,Graduation,Married,73803.0,0,1,2012-08-01,61,833,...,363,52,26,174,2,9,5,6,6,64
2029,10001,1985,2n Cycle,Together,7500.0,1,0,2012-08-01,98,5,...,17,13,14,34,4,2,1,3,9,36
724,4692,1976,Graduation,Married,7500.0,1,0,2012-08-01,19,7,...,12,13,7,32,5,4,1,2,9,45
1363,6181,1950,2n Cycle,Together,52203.0,0,0,2012-07-31,36,488,...,238,56,108,28,1,8,7,11,6,71
1255,6653,1970,PhD,Married,55158.0,1,1,2012-07-30,72,293,...,87,4,11,23,4,7,2,5,7,51

In [40]:
cp_df['Year_Customer'] = 2021 - cp_df['Dt_Customer'].dt.year
cp_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,172,88,88,3,8,10,4,7,64,9
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,2,1,6,2,1,1,2,5,67,7
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,111,21,42,1,8,2,10,4,56,8
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,10,3,5,2,2,0,4,6,37,7
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,46,27,15,5,5,3,6,5,40,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,42,118,247,2,9,3,4,5,54,8
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,0,0,8,7,8,2,5,7,75,7
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,32,12,24,1,2,3,13,6,40,7
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,80,30,61,2,6,5,10,3,65,7
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,2,1,21,3,3,1,4,7,67,9

In [41]:
cp_df = cp_df.drop(labels=['Dt_Customer', 'Year_Birth'], axis=1)
cp_df

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer
0,5524,Graduation,Single,58138.0,0,0,58,635,88,546,172,88,88,3,8,10,4,7,64,9
1,2174,Graduation,Single,46344.0,1,1,38,11,1,6,2,1,6,2,1,1,2,5,67,7
2,4141,Graduation,Together,71613.0,0,0,26,426,49,127,111,21,42,1,8,2,10,4,56,8
3,6182,Graduation,Together,26646.0,1,0,26,11,4,20,10,3,5,2,2,0,4,6,37,7
4,5324,PhD,Married,58293.0,1,0,94,173,43,118,46,27,15,5,5,3,6,5,40,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,Graduation,Married,61223.0,0,1,46,709,43,182,42,118,247,2,9,3,4,5,54,8
2236,4001,PhD,Together,64014.0,2,1,56,406,0,30,0,0,8,7,8,2,5,7,75,7
2237,7270,Graduation,Divorced,56981.0,0,0,91,908,48,217,32,12,24,1,2,3,13,6,40,7
2238,8235,Master,Together,69245.0,0,1,8,428,30,214,80,30,61,2,6,5,10,3,65,7
2239,9405,PhD,Married,52869.0,1,1,40,84,3,61,2,1,21,3,3,1,4,7,67,9

In [43]:
cp_df['Children'] = cp_df['Kidhome'] + cp_df['Teenhome']
cp_df

,ID,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,...,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children
0,5524,Graduation,Single,58138.0,0,0,58,635,88,546,...,88,88,3,8,10,4,7,64,9,0
1,2174,Graduation,Single,46344.0,1,1,38,11,1,6,...,1,6,2,1,1,2,5,67,7,2
2,4141,Graduation,Together,71613.0,0,0,26,426,49,127,...,21,42,1,8,2,10,4,56,8,0
3,6182,Graduation,Together,26646.0,1,0,26,11,4,20,...,3,5,2,2,0,4,6,37,7,1
4,5324,PhD,Married,58293.0,1,0,94,173,43,118,...,27,15,5,5,3,6,5,40,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,Graduation,Married,61223.0,0,1,46,709,43,182,...,118,247,2,9,3,4,5,54,8,1
2236,4001,PhD,Together,64014.0,2,1,56,406,0,30,...,0,8,7,8,2,5,7,75,7,3
2237,7270,Graduation,Divorced,56981.0,0,0,91,908,48,217,...,12,24,1,2,3,13,6,40,7,0
2238,8235,Master,Together,69245.0,0,1,8,428,30,214,...,30,61,2,6,5,10,3,65,7,1
2239,9405,PhD,Married,52869.0,1,1,40,84,3,61,...,1,21,3,3,1,4,7,67,9,2

In [44]:
cp_df = cp_df.drop(labels=['Kidhome', 'Teenhome'], axis=1)

In [45]:
cp_df

,ID,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children
0,5524,Graduation,Single,58138.0,58,635,88,546,172,88,88,3,8,10,4,7,64,9,0
1,2174,Graduation,Single,46344.0,38,11,1,6,2,1,6,2,1,1,2,5,67,7,2
2,4141,Graduation,Together,71613.0,26,426,49,127,111,21,42,1,8,2,10,4,56,8,0
3,6182,Graduation,Together,26646.0,26,11,4,20,10,3,5,2,2,0,4,6,37,7,1
4,5324,PhD,Married,58293.0,94,173,43,118,46,27,15,5,5,3,6,5,40,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,Graduation,Married,61223.0,46,709,43,182,42,118,247,2,9,3,4,5,54,8,1
2236,4001,PhD,Together,64014.0,56,406,0,30,0,0,8,7,8,2,5,7,75,7,3
2237,7270,Graduation,Divorced,56981.0,91,908,48,217,32,12,24,1,2,3,13,6,40,7,0
2238,8235,Master,Together,69245.0,8,428,30,214,80,30,61,2,6,5,10,3,65,7,1
2239,9405,PhD,Married,52869.0,40,84,3,61,2,1,21,3,3,1,4,7,67,9,2

In [46]:
cp_df['Education'].value_counts()

Education
Graduation    1124
PhD            481
Master         369
2n Cycle       201
Basic           54
Name: count, dtype: int64

In [48]:
cp_df['Education'] = cp_df['Education'].replace(
    ['2n Cycle', 'Basic', 'Graduation'], ['Master', 'No-degree', 'Bachelor']
)

cp_df

,ID,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children
0,5524,Bachelor,Single,58138.0,58,635,88,546,172,88,88,3,8,10,4,7,64,9,0
1,2174,Bachelor,Single,46344.0,38,11,1,6,2,1,6,2,1,1,2,5,67,7,2
2,4141,Bachelor,Together,71613.0,26,426,49,127,111,21,42,1,8,2,10,4,56,8,0
3,6182,Bachelor,Together,26646.0,26,11,4,20,10,3,5,2,2,0,4,6,37,7,1
4,5324,PhD,Married,58293.0,94,173,43,118,46,27,15,5,5,3,6,5,40,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,Bachelor,Married,61223.0,46,709,43,182,42,118,247,2,9,3,4,5,54,8,1
2236,4001,PhD,Together,64014.0,56,406,0,30,0,0,8,7,8,2,5,7,75,7,3
2237,7270,Bachelor,Divorced,56981.0,91,908,48,217,32,12,24,1,2,3,13,6,40,7,0
2238,8235,Master,Together,69245.0,8,428,30,214,80,30,61,2,6,5,10,3,65,7,1
2239,9405,PhD,Married,52869.0,40,84,3,61,2,1,21,3,3,1,4,7,67,9,2

In [49]:
cp_df['Marital_Status'].value_counts()

Marital_Status
Married     861
Together    575
Single      479
Divorced    230
Widow        77
Alone         3
Absurd        2
YOLO          2
Name: count, dtype: int64

In [53]:
cp_df = cp_df[~ cp_df['Marital_Status'].isin(['Alone', 'Absurd', 'YOLO'])]
cp_df

,ID,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children
0,5524,Bachelor,Single,58138.0,58,635,88,546,172,88,88,3,8,10,4,7,64,9,0
1,2174,Bachelor,Single,46344.0,38,11,1,6,2,1,6,2,1,1,2,5,67,7,2
2,4141,Bachelor,Together,71613.0,26,426,49,127,111,21,42,1,8,2,10,4,56,8,0
3,6182,Bachelor,Together,26646.0,26,11,4,20,10,3,5,2,2,0,4,6,37,7,1
4,5324,PhD,Married,58293.0,94,173,43,118,46,27,15,5,5,3,6,5,40,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,Bachelor,Married,61223.0,46,709,43,182,42,118,247,2,9,3,4,5,54,8,1
2236,4001,PhD,Together,64014.0,56,406,0,30,0,0,8,7,8,2,5,7,75,7,3
2237,7270,Bachelor,Divorced,56981.0,91,908,48,217,32,12,24,1,2,3,13,6,40,7,0
2238,8235,Master,Together,69245.0,8,428,30,214,80,30,61,2,6,5,10,3,65,7,1
2239,9405,PhD,Married,52869.0,40,84,3,61,2,1,21,3,3,1,4,7,67,9,2

In [54]:
cp_df = cp_df.reset_index(drop=True)
cp_df

,ID,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children
0,5524,Bachelor,Single,58138.0,58,635,88,546,172,88,88,3,8,10,4,7,64,9,0
1,2174,Bachelor,Single,46344.0,38,11,1,6,2,1,6,2,1,1,2,5,67,7,2
2,4141,Bachelor,Together,71613.0,26,426,49,127,111,21,42,1,8,2,10,4,56,8,0
3,6182,Bachelor,Together,26646.0,26,11,4,20,10,3,5,2,2,0,4,6,37,7,1
4,5324,PhD,Married,58293.0,94,173,43,118,46,27,15,5,5,3,6,5,40,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,10870,Bachelor,Married,61223.0,46,709,43,182,42,118,247,2,9,3,4,5,54,8,1
2218,4001,PhD,Together,64014.0,56,406,0,30,0,0,8,7,8,2,5,7,75,7,3
2219,7270,Bachelor,Divorced,56981.0,91,908,48,217,32,12,24,1,2,3,13,6,40,7,0
2220,8235,Master,Together,69245.0,8,428,30,214,80,30,61,2,6,5,10,3,65,7,1
2221,9405,PhD,Married,52869.0,40,84,3,61,2,1,21,3,3,1,4,7,67,9,2

In [58]:
frequency_columns = ['NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases'] 
cp_df['Frequency'] = cp_df[frequency_columns].sum(axis=1)
cp_df

,ID,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children,Frequency
0,5524,Bachelor,Single,58138.0,58,635,88,546,172,88,88,3,8,10,4,7,64,9,0,25
1,2174,Bachelor,Single,46344.0,38,11,1,6,2,1,6,2,1,1,2,5,67,7,2,6
2,4141,Bachelor,Together,71613.0,26,426,49,127,111,21,42,1,8,2,10,4,56,8,0,21
3,6182,Bachelor,Together,26646.0,26,11,4,20,10,3,5,2,2,0,4,6,37,7,1,8
4,5324,PhD,Married,58293.0,94,173,43,118,46,27,15,5,5,3,6,5,40,7,1,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,10870,Bachelor,Married,61223.0,46,709,43,182,42,118,247,2,9,3,4,5,54,8,1,18
2218,4001,PhD,Together,64014.0,56,406,0,30,0,0,8,7,8,2,5,7,75,7,3,22
2219,7270,Bachelor,Divorced,56981.0,91,908,48,217,32,12,24,1,2,3,13,6,40,7,0,19
2220,8235,Master,Together,69245.0,8,428,30,214,80,30,61,2,6,5,10,3,65,7,1,23
2221,9405,PhD,Married,52869.0,40,84,3,61,2,1,21,3,3,1,4,7,67,9,2,11

In [64]:
monetary_columns = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
cp_df['Monetary'] = cp_df[monetary_columns].sum(axis=1)
cp_df

,ID,Education,Marital_Status,Income,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children,Frequency,Monetary
0,5524,Bachelor,Single,58138.0,58,635,88,546,172,88,...,3,8,10,4,7,64,9,0,25,1617
1,2174,Bachelor,Single,46344.0,38,11,1,6,2,1,...,2,1,1,2,5,67,7,2,6,27
2,4141,Bachelor,Together,71613.0,26,426,49,127,111,21,...,1,8,2,10,4,56,8,0,21,776
3,6182,Bachelor,Together,26646.0,26,11,4,20,10,3,...,2,2,0,4,6,37,7,1,8,53
4,5324,PhD,Married,58293.0,94,173,43,118,46,27,...,5,5,3,6,5,40,7,1,19,422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,10870,Bachelor,Married,61223.0,46,709,43,182,42,118,...,2,9,3,4,5,54,8,1,18,1341
2218,4001,PhD,Together,64014.0,56,406,0,30,0,0,...,7,8,2,5,7,75,7,3,22,444
2219,7270,Bachelor,Divorced,56981.0,91,908,48,217,32,12,...,1,2,3,13,6,40,7,0,19,1241
2220,8235,Master,Together,69245.0,8,428,30,214,80,30,...,2,6,5,10,3,65,7,1,23,843
2221,9405,PhD,Married,52869.0,40,84,3,61,2,1,...,3,3,1,4,7,67,9,2,11,172

In [66]:
cp_rfm_df = cp_df[['Recency', 'Frequency', 'Monetary']]
cp_rfm_df

      Recency  Frequency  Monetary
0          58         25      1617
1          38          6        27
2          26         21       776
3          26          8        53
4          94         19       422
...       ...        ...       ...
2217       46         18      1341
2218       56         22       444
2219       91         19      1241
2220        8         23       843
2221       40         11       172

[2222 rows x 3 columns]

In [67]:
cp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2222 entries, 0 to 2221
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2222 non-null   int64
 1   Education            2222 non-null   object
 2   Marital_Status       2222 non-null   object
 3   Income               2222 non-null   float64
 4   Recency              2222 non-null   int64
 5   MntWines             2222 non-null   int64
 6   MntFruits            2222 non-null   int64
 7   MntMeatProducts      2222 non-null   int64
 8   MntFishProducts      2222 non-null   int64
 9   MntSweetProducts     2222 non-null   int64
 10  MntGoldProds         2222 non-null   int64
 11  NumDealsPurchases    2222 non-null   int64
 12  NumWebPurchases      2222 non-null   int64
 13  NumCatalogPurchases  2222 non-null   int64
 14  NumStorePurchases    2222 non-null   int64
 15  NumWebVisitsMonth    2222 non-null   int64
 16  Age                  2222 non-null   int64
 17  Year_Customer        2222 non-null   int32
 18  Children             2222 non-null   int64
 19  Frequency            2222 non-null   int64
 20  Monetary             2222 non-null   int64
dtypes: float64(1), int32(1), int64(17), object(2)
memory usage: 356.0+ KB

#### Ï†ïÍ∑úÌôî (Normalization)
Í∞íÏùò Î≤îÏúÑÎ•º 0~1 ÏÇ¨Ïù¥Î°ú Î≥ÄÌôòÏãúÏºú Î™®Îì† Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÌèâÎì±ÌïòÍ≤å ÎêúÎã§.  
ÏÑúÎ°ú Îã§Î•∏ Îã®ÏúÑÏùò Í∞íÏùÄ ÎπÑÍµê ÎåÄÏÉÅÏù¥ Îê† Ïàò ÏóÜÎã§. ÏòàÎ•º Îì§Ïñ¥, 80kgÍ≥º 180cmÎäî ÎπÑÍµêÌï† Ïàò ÏóÜÍ∏∞Ïóê Ï†ïÍ∑úÌôîÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÎπÑÍµêÌïúÎã§.

In [68]:
from sklearn.preprocessing import MinMaxScaler

normalization = MinMaxScaler()
rfm_normalization = normalization.fit_transform(cp_rfm_df)

In [71]:
cp_rfm_df = pd.DataFrame(rfm_normalization, columns=cp_rfm_df.columns)
cp_rfm_df

       Recency  Frequency  Monetary
0     0.585859   0.581395  0.639683
1     0.383838   0.139535  0.008730
2     0.262626   0.488372  0.305952
3     0.262626   0.186047  0.019048
4     0.949495   0.441860  0.165476
...        ...        ...       ...
2217  0.464646   0.418605  0.530159
2218  0.565657   0.511628  0.174206
2219  0.919192   0.441860  0.490476
2220  0.080808   0.534884  0.332540
2221  0.404040   0.255814  0.066270

[2222 rows x 3 columns]

In [73]:
cp_df['TotalScore'] = cp_rfm_df['Recency'] + cp_rfm_df['Frequency'] + cp_rfm_df['Monetary']

In [75]:
cp_df = cp_df.drop(columns=['Recency', 'Frequency', 'Monetary'], axis=1)

In [76]:
cp_df

,ID,Education,Marital_Status,Income,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Age,Year_Customer,Children,TotalScore
0,5524,Bachelor,Single,58138.0,635,88,546,172,88,88,3,8,10,4,7,64,9,0,1.806936
1,2174,Bachelor,Single,46344.0,11,1,6,2,1,6,2,1,1,2,5,67,7,2,0.532103
2,4141,Bachelor,Together,71613.0,426,49,127,111,21,42,1,8,2,10,4,56,8,0,1.056951
3,6182,Bachelor,Together,26646.0,11,4,20,10,3,5,2,2,0,4,6,37,7,1,0.467720
4,5324,PhD,Married,58293.0,173,43,118,46,27,15,5,5,3,6,5,40,7,1,1.556832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,10870,Bachelor,Married,61223.0,709,43,182,42,118,247,2,9,3,4,5,54,8,1,1.413410
2218,4001,PhD,Together,64014.0,406,0,30,0,0,8,7,8,2,5,7,75,7,3,1.251491
2219,7270,Bachelor,Divorced,56981.0,908,48,217,32,12,24,1,2,3,13,6,40,7,0,1.851529
2220,8235,Master,Together,69245.0,428,30,214,80,30,61,2,6,5,10,3,65,7,1,0.948231
2221,9405,PhD,Married,52869.0,84,3,61,2,1,21,3,3,1,4,7,67,9,2,0.726124

In [78]:
import numpy as np

l1, l2, l3, l4 = np.percentile(cp_df['TotalScore'], [20, 40, 70, 90])
print(l1, l2, l3, l4)

0.6226021007416357 0.9456768683512871 1.3489184200812108 1.7564456022014163